@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  background: #00b2b3;
  color: #fff;
  font-family: 'Ubuntu', serif;
  font-size: 1.55em;
  margin: 0 auto;
  max-width: 47em;
}

h1 {
  text-align: center;
  font-weight: normal;
}

@media all and (max-width: 45em) {
  body {
    font-size: 1.1em;
  }
}

footer div.links {
  text-align: center;
}

footer div.links a {
  color: inherit;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

footer div.links a:hover {
  border-bottom: 0.1em solid;
}
