@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
body {
  background: #00b2b3;
  color: #fff;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.55em;
  margin: 0 auto;
  max-width: 47em;
}

h1 {
  text-align: center;
}

@media all and (max-width: 45em) {
  body {
    font-size: 1.1em;
  }
}

div.links {
  text-align: center;
}

a {
  border-bottom: 0.1em solid;
  color: inherit;
  font-size: 0.8em;
  text-decoration: none;
}