* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1.07em;
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
h1#title {
	background: #2196f3;
	color: #fff;
	text-align: center;
	font-size: 1.8em;
	padding: 0.5em;
}
.description {
	max-width: 36em;
	margin: 0.5em auto !important;
}
.description a {
	color: inherit;
	border-bottom: 0.1em solid;
	-webkit-transition: 0.1s all ease-in-out;
	-o-transition: 0.1s all ease-in-out;
	transition: 0.1s all ease-in-out;
}
.description a:hover {
	border-bottom: none;
}
.data-title {
	text-align: center;
	padding: 0.5em;
	background: #90caf9;
	color: #0d47a1;
}
.data {
	margin: 0.3em 0;
	padding: 0 0.3em;
}
.note {
	text-align: center;
	font-style: italic;
	margin: 0.3em;
}